{% extends "backend/views/layouts/page.twig" %} {% block main %}
<div class="row">
	<div class="col-xs-12 col-sm-12 {{ software is defined ? 'col-md-9' : 'col-md-12' }}">
		<form action="admin.php?page=software_update" method="POST">
			<input name="software[id]" type="text" hidden>
			<div class="mia-panel ticket-panel">
				<div class="mia-panel-heading">
					<div class="row">
						<div class="col-sm-3 col-xs-12">
							<h2>Software Information</h2>
							{% if software_object is not defined %}
							<p>Choose a software item to get started:</p>
							{% else %}
							<p>Enter the updated info below:</p>
							{% endif %}
						</div>
						<div class="col-sm-9 col-xs-12 {% if program is defined %} defined {% endif %}">
							{% if software_object is not defined %}
							<img src="/wp-content/uploads/2018/03/arrow-right-other.png"> {% else %}
							<img src="/wp-content/uploads/2018/03/arrow-down.png" style="opacity: 0;"> {% endif %}
							<select id="change-software">
									<option disabled selected>Select a software item here…</option>
								</select>
						</div>
					</div>
				</div>
				<div class="mia-panel-body negative-margin">
					<div class="software-panel">
						<div class="accordions">
							{% if software_object is not defined %}
							<div class="accordion-handle row">
								<div class="accordion-icon col-xs-3">
									<div class="number-circle">?</div>
								</div>
								<div class="accordion-title col-xs-9">No software has been selected…</div>
							</div>
							{% else %}
							<div class="accordion-handle row">
								<div class="accordion-icon col-xs-3">
									<div class="number-circle">{{ software_object.id }}</div>
								</div>
								<div class="accordion-title col-xs-9">{{ software_object.name }}</div>
							</div>
							<div class="accordion-body">
																
								<div class="row mia-field-group">
									<div class="col-xs-12 col-sm-3">
										<p class="label">
											Name <span class="required">*</span>
										</p>

										<p class="details">
											Name of Software e.g Windows 7, Notepad etc.
										</p>
									</div>
                                    <div class="col-sm-9 col-xs-12">
                                    	<input name="software[name]" spellcheck="true" validation="required" autocomplete="off" type="text" placeholder="Enter Software Name" >	
									</div>
								</div>
								<div class="row mia-field-group">
									<div class="col-sm-3 col-xs-12">
										<p class="label">
											Expiry Date <span class="required">*</span>
										</p>

										<p class="details">
											Date the licence expires - don't change this if there's no licence. 
										</p>
									</div>
									<div class="col-sm-9 col-xs-12 has-button">
									<div class="software-date-section">

										
										<div class="date-time-picker">
											<span></span>
											<span>/</span>
											<span></span>
											<span>/</span>
											<span></span>
											<span></span>
											<span></span>
											<span>:</span>
											<span></span>
											<span>:</span>
											<span></span>
										</div>
										<a class="button button-primary pull-right mia-picker" href="javascript:void(0);">
											Choose a time
										<input type="text" name="software[expiry]" validation="required">
										</a>
										<a class="button button-primary pull-right software-rml" href="javascript:void(0);">
										Remove Licence
										</a>

									</div>
									<div class="software-no-date">
										<a class="button button-primary pull-right software-addl" href="javascript:void(0);">
										Add Licence
										</a>
										
									</div>
									</div>
								</div>
								<div class="row mia-field-group">
									<div class="col-sm-3 col-xs-12">
										<p class="label">
											Software Type <span class="required">*</span>
										</p>
										<p class="details">
											Type of software.
										</p>
									</div>
									<div class="col-sm-9 col-xs-12">
										<select name="software[type]" validation="required|integer">
											<option selected default disabled>Select a type here</option>
											<option value="0">Application</option>
											<option value="1">Operating System</option>
										</select>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				{% if software_object is defined %}
				<div class="mia-panel-footer">
					<div class="mia-button-group pull-right">
						<p>All done?</p>
						<button class="button button-primary" type="submit">Update Software</button>
					</div>
				</div>
				{% endif %}
			</div>
		</form>
	</div>
		<div class="col-xs-12 col-sm-12 col-md-3">
			{% if software is defined %}
		<div class="mia-panel mia-panel-short" data-slug="software_info">
			<div class="mia-panel-heading">
				Software Info
				<i class="fa fa-chevron-up"></i>
			</div>
			<div class="mia-panel-body">
				<table class="wp-list-table widefat fixed striped">
					<tbody>

						<tr>
							<td>
								<strong>Total Tickets</strong>
							</td>
							<td>{{ software_info[0][0]}}</td>

						</tr>
						<tr>
							<td>
								<strong>Open Tickets</strong>
							</td>
							<td>{{ software_info[0][1]}}</td>

						</tr>
						<tr>
							<td>
								<strong>Closed Tickets</strong>
							</td>
							<td>{{ software_info[0][2]}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
			{% endif %}
		</div>


</div>
{% endblock %} {% block scripts %}
<script>
	var softwares	= {{softwares}},
		software	= {{software|default ('null')}};

</script>
{% endblock %}
