{% extends "backend/views/layouts/page.twig" %}

{% block main %}
<div class="software-table">
    <div class="row">
        <div class="col-xs-9">
            <table class="wp-list-table widefat fixed striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Expiry Date</th>
                        <th>Operating System</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ software_object.id }}</td>
                        <td>{{ software_object.name }}</td>
                        <td>{{ software_object.expiry_date }}</td>
                        <td>{{ software_object.operating_system }}</td>
                        <td>{{ software_object.created_at }}</td>
                        <td>{{ software_object.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        var software             = {{ software }};
    </script>
{% endblock %}
